@model travelwhims.Models.TWdatabase.Admin

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content">
    <h2 class="page-title">Welcome To Your Dashboard @Session["role"]</h2>
</div>